@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  /* ## Layout */
  /* The designs were created to the following widths: */
  --Mobile: 375px;
  --Desktop: 1440px;

  /* ## Colors */
  /* ### Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  /* ## Typography */
  /* ### Body Copy */

  --Font-size: 16px;

  /* ### Font */

  --family: Ubuntu;
  --font: (https://fonts.google.com/specimen/Ubuntu);
  /* - Weights: 400, 500, 700 */
  --w400: 400;
  --w500: 500;
  --w700: 700;
}
/*============ [media] ============= */
@media (min-width: 1441px) {
  .box {
    max-width: 900px;
  }
}
@media (max-width: 1440px) {
  .box {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .box {
    width: 375px;
  }
}
.box {
  /* margin-inline: auto; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
}

body {
  background-color: var(--Magnolia);
  font-family: var(--family);
  height: 100vh;
}
main {
  padding: 15px;
}
main .box {
  background-color: var(--White);
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 50px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 640px;
}

/*============ [left] ============= */
main .box .left {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 270px;
}
main .box .left .steps {
  display: grid;
  gap: 30px;
  padding: 30px;
}
main .box .left .steps .step {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
main .box .left .steps .step .step-number {
  /* background-color: transparent; */
  color: var(--White);
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--White);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.step > div.active-step-number {
  background-color: var(--Light-blue);
  color: var(--Marine-blue) !important;
  border: var(--Light-blue) !important;
}
main .box .left .steps .step .step-info {
}
main .box .left .steps .step .step-info p {
  color: var(--Light-gray);
  font-size: 14px;
  font-weight: var(--w400);
}
main .box .left .steps .step .step-info h4 {
  color: var(--White);
  font-weight: var(--w700);
}

/*============ [right] ============= */
.rights {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
  padding: 25px;
  justify-content: space-between;
  gap: 20px;
  /* place-content: space-between; */
}
/* .right:not(.four) {
  display: none;
} */
.right {
  display: none;
}
.rights .active-step {
  display: grid;
}
main .box .right {
  place-self: center;
  flex: 1;
  width: 100%;
}
main .box .right .title {
  margin-bottom: 40px;
}
main .box .right .title h1 {
  color: var(--Marine-blue);
  font-weight: var(--w700);
  margin-bottom: 15px;
}
main .box .right .title p {
  color: var(--Cool-gray);
  font-weight: var(--w400);
  line-height: 1.5;
}

/*============ [STEP(1) => Personal information] ============= */

main .box .right form {
  margin-bottom: 100px;
}
main .box .right form label {
  color: var(--Marine-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
}
main .box .right form label .warning.disabled {
  visibility: hidden;
}
main .box .right form label .warning.active-warning {
  color: var(--Strawberry-red);
  font-size: 13px;
  visibility: visible;
}
main .box .right form input {
  padding: 15px;
  border: 1px solid var(--Light-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: var(--w500);
}
main .box .right form input:focus-visible {
  border: 1px solid var(--Marine-blue);
  /* color: white; */
  outline: none;
}
main .box .right form input:focus {
  /* border: none; */
  /* color: white; */
  outline: none;
}
main .box .right form input[name="username"] {
  text-transform: capitalize;
}
/*[Chrome, Safari, Edge, Opera] remove input type number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*[Firefox] remove input type number arrows */
input {
  -moz-appearance: textfield;
  margin: 0;
}

input::placeholder {
  color: var(--Cool-gray);
}
/*============ [next button] ============= */
main .box .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .box button {
  cursor: pointer;
  letter-spacing: 0.5px;
}
main .box button.next-btn {
  background-color: var(--Marine-blue);
  color: var(--White);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: var(--w500);
  position: relative;
  right: 0;
  border: none;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  height: fit-content;
  align-self: flex-end;
}
main .box button.next-btn:hover {
  background-color: var(--Purplish-blue);
}
main .box button.back-btn {
  background-color: transparent;
  color: var(--Cool-gray);
  border: transparent;
  align-self: flex-end;
  font-weight: var(--w700);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
main .box button.back-btn:hover {
  color: var(--Purplish-blue);
}

/*============ [STEP(2) => Plans] ============= */

.two {
}
.two .plans-box {
}
.two .plans-box .plans {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
.two .plans-box .plans .plan {
  padding: 20px;
  border: 2px solid var(--Light-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.active-plan {
  border-color: var(--Pastel-blue) !important;
  background-color: var(--Magnolia);
}
.two .plans-box .plans .plan img {
  margin-bottom: 40px;
}
.two .plans-box .plans .plan .info {
}
.two .plans-box .plans .plan .info h4 {
  color: var(--Marine-blue);
  margin-bottom: 10px;
}
.two .plans-box .plans .plan .info .price {
  display: flex;
  color: var(--Cool-gray);
}
.two .plans-box .plans .plan .info .price p {
}
.two .plans-box .plans .plan .info .price span {
}
.two .plans-box .period {
  background-color: var(--Magnolia);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.two .plans-box .period p {
}
.two .plans-box .period input[type="checkbox"] {
  margin-inline: 30px;
  cursor: pointer;
}

/*============ [STEP(3) => Pick add-ons] ============= */

.three {
}
.three .picks-box {
}
.three .picks-box .picks {
  display: grid;
  gap: 20px;
}
.three .picks-box .picks .pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid var(--Light-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition-property: border, background-color;
}
.three .picks-box .picks .pick:hover {
  border-color: var(--Purplish-blue);
}

.active-pick {
  border-color: var(--Purplish-blue) !important;
  background-color: var(--Magnolia);
}

.three .picks-box .picks .pick .text-box {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.three .picks-box .picks .pick .text-box::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  width: 30px;
  height: 30px;
  background-color: rgba(245, 36, 36, 0);
  z-index: 12;
}
.three .picks-box .picks .pick input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.three .picks-box .picks .pick .text-box .text {
}
.three .picks-box .picks .pick .text-box .text h4 {
  color: var(--Marine-blue);
  margin-bottom: 5px;
}
.three .picks-box .picks .pick .text-box .text p {
  color: var(--Cool-gray);
  font-size: 14px;
}
.three .picks-box .picks .pick .price {
  color: var(--Purplish-blue);
  display: flex;
  font-size: 14px;
  font-weight: var(--w500);
}
.three .picks-box .picks .pick .price p {
}
.three .picks-box .picks .pick .price span {
}

/*============ [STEP(4) => Finish up] ============= */

.four {
}
.four .finish-box {
}
.four .finish-box .finish {
  background-color: var(--Alabaster);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px;
}
.four .finish-box .finish .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--Light-gray);
}
.four .finish-box .finish .plan .text-box {
}
.four .finish-box .finish .plan .text-box h4 {
  color: var(--Marine-blue);
}
.four .finish-box .finish .plan .text-box button.change {
  color: var(--Cool-gray);
  font-size: 14px;
  text-decoration: underline;
  border: transparent;
  background-color: transparent;
}
.four .finish-box .finish .plan .total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--w500);
}
.four .finish-box .finish .plan .total-price p {
  color: var(--Marine-blue);
}
.four .finish-box .finish .plan .total-price p:first-of-type {
}
.four .finish-box .finish .plan .total-price p:last-of-type {
}
.four .finish-box .finish .other-box {
  display: grid;
  gap: 20px;
}
.four .finish-box .finish .other-box .other-one,
.four .finish-box .finish .other-box .other-two {
  display: flex;
  justify-content: space-between;
}
.four .finish-box .finish .other-box .other-one > p,
.four .finish-box .finish .other-box .other-two > p {
  color: var(--Cool-gray);
}
.four .finish-box .finish .other-box .other-one .price-total,
.four .finish-box .finish .other-box .other-two .price-total {
  color: var(--Marine-blue);
  display: flex;
}
.four .finish-box .finish .other-box .other-one .price-total p {
}
.four .finish-box .finish .other-box .other-one .price-total p:first-of-type {
}
.four .finish-box .finish .other-box .other-one .price-total p:last-of-type {
}
.four .finish-box .finish .other-box .other-two {
}
.four .finish-box .finish .other-box .other-two > p {
}
.four .finish-box .finish .other-box .other-two .price-total {
}
.four .finish-box .finish .other-box .other-two .price-total p {
}
.four .finish-box .finish .other-box .other-two .price-total p:first-of-type {
}
.four .finish-box .finish .other-box .other-two .price-total p:last-of-type {
}
.four .finish-box .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-inline: 20px;
}
.four .finish-box .total > p {
  color: var(--Cool-gray);
  font-size: 16px;
}
.four .finish-box .total .total-final {
  display: flex;
  justify-content: center;
  align-items: center;
}
.four .finish-box .total .total-final h2 {
  color: var(--Purplish-blue);
}
.four .finish-box .total .total-final h2:first-of-type {
}
.four .finish-box .total .total-final h2:last-of-type {
}

/*============ [STEP(5) => Thank you!] ============= */

.thank {
}
.thank .title {
  text-align: center;
  margin-bottom: 0 !important;
}
