@font-face {
  font-family: Plus Jakarta Sans;
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url(assets/fonts/static/PlusJakartaSans-Medium.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Plus Jakarta Sans;
  src: url(assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  /* ## Layout */
  /* The designs were created to the following widths: */

  --Mobile: 375px;
  --Desktop: 1440px;

  /* ## Colors */
  /* ### Primary */

  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  /* ## Typography */
  /* ### Body Copy */

  --Font-size-paragraph: 16px;

  /* ### Font */

  /* --Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans); */
  --Family: Plus Jakarta Sans;
  --weight-1: 500;
  --weight-2: 800;
}
body {
  background-color: var(--Very-light-grayish-blue);
  min-height: 100vh;
  width: 100%;
  font-family: var(--Family);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (min-width: 1441px) {
  .nots {
    max-width: 660px;
  }
}
@media (max-width: 1440px) {
  .nots {
    max-width: 660px;
  }
}
@media (max-width: 767px) {
  .nots {
    max-width: 375px;
  }
}
.attribution {
  /* font-size: 5px; */
  display: none;
}
.not-box {
}
img {
}
section {
  margin-block: 50px;
}
section .container {
}
section .container .not-box {
  background-color: var(--White);
  box-shadow: 0 0 10px var(--Very-light-grayish-blue);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 25px;
  /* padding-bottom: 15px; */
}
@media (max-width: 767px) {
  section .container .not-box {
    padding: 15px;
  }
}
section .container .not-box header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
section .container .not-box header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section .container .not-box header h1 span {
  background-color: var(--Blue);
  color: var(--White);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
section .container .not-box header button {
  align-self: flex-end;
  /* font-size: 14px; */
  font-weight: 300;
  background-color: transparent;
  border: none;
  color: var(--Grayish-blue);
  cursor: pointer;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
}
section .container .not-box header button:hover {
  color: var(--Blue);
}
section .container .not-box .nots {
  display: grid;
  gap: 5px;
}

section .container .not-box .nots .not {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 16px;
  transition-duration: 0.25s;
  transition-property: background-color;
  font-size: var(--Font-size-paragraph);
  /* font-weight: 700; */
}
section .container .not-box .nots .unread {
  background-color: var(--Very-light-grayish-blue);
}
section .container .not-box .nots .read {
}
section .container .not-box .nots .white-not {
  /* background-color: white; */
}
section .container .not-box .nots .unread:hover {
  background-color: var(--Light-grayish-blue-1);
}
section .container .not-box .nots .not .image {
}
section .container .not-box .nots .not .image img {
  width: 3rem;
}
section .container .not-box .nots .not .text-box {
  /* display: flex; */
}
section .container .not-box .nots .not .img-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section .container .not-box .nots .not .text-box .brief {
  display: grid;
  gap: 10px;
  flex: 1;
}
section .container .not-box .nots .not .text-box .brief p.title {
  display: inline;
  /* font-weight: 100; */
}
section .container .not-box .nots .not .text-box .brief p.title span.name {
  color: var(--Very-dark-blue);
  font-weight: 300;
  transition-duration: 0.25s;
  cursor: pointer;
  transition-property: color;
}
section
  .container
  .not-box
  .nots
  .not
  .text-box
  .brief
  p.title
  span.name:hover {
  color: var(--Blue);
}
section .container .not-box .nots .not .text-box .brief p.title span.not-msg {
  font-weight: 200;
  color: var(--Dark-grayish-blue);
}
section .container .not-box .nots .not .text-box .brief p.title a.content {
  font-weight: 300;
  transition-duration: 0.25s;
  transition-property: color;
  margin-left: 10px;
}
section .container .not-box .nots .not .text-box .brief p.title a.gray-content {
  color: var(--Dark-grayish-blue);
}
section
  .container
  .not-box
  .nots
  .not
  .text-box
  .brief
  p.title
  a.content:hover {
  color: var(--Blue);
}
.read-icon {
  visibility: hidden;
}
.unread .unread-icon {
  background-color: var(--Red);
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  visibility: visible;
  transition: 0.1s visibility;
  -webkit-transition: 0.1s visibility;
  -moz-transition: 0.1s visibility;
  -ms-transition: 0.1s visibility;
  -o-transition: 0.1s visibility;
}

section .container .not-box .nots .not .text-box .brief p.time {
  color: var(--Grayish-blue);
  cursor: default;
  font-weight: 100;
}
section .container .not-box .nots .not .text-box p.msg {
  font-weight: 200;
}
section .container .not-box .nots .not .text-box p.msg-text {
  /*font-size: 16px;
  */ /*font-weight: 300;
  */
  border: 1px solid var(--Light-grayish-blue-2);
  padding: 10px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition-property: background-color, border;
  color: var(--Dark-grayish-blue);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section .container .not-box .nots .not .text-box p.msg-text:hover {
  background-color: var(--Light-grayish-blue-1);
  border-color: transparent;
}
section .container .not-box .nots .not .text-box p.msg-img {
  width: 3rem;
  height: fit-content;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  border: 1px solid var(--Light-grayish-blue-2);
}
section .container .not-box .nots .not .text-box p.msg-img img {
  width: 100%;
  transition: 0.1s transform;
  -webkit-transition: 0.1s transform;
  -moz-transition: 0.1s transform;
  -ms-transition: 0.1s transform;
  -o-transition: 0.1s transform;
  cursor: pointer;
}
section .container .not-box .nots .not .text-box p.msg-img:hover img {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
